<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VPP Tịnh{% endblock %} - Góc Tĩnh Cho Sự Tập Trung</title>
    <meta name="referrer" content="no-referrer">
    <link rel="stylesheet" href="static/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap" rel="stylesheet">
    
</head>
<body>
    <header>
        <a href="/" class="logo" style="display: flex; align-items: center;">
        <img src="../static/images/logo.png" alt="Logo VPP Tinh Tế"
         style="height: 60px; width: auto; border-radius: 50%; border: 2px solid var(--primary-color); padding: 2px;">
        </a>
    </header>

    <main class="container">
        {% block content %}{% endblock %}
    </main>

    <footer style="text-align: center; padding: 2rem; color: #718096; font-size: 0.9rem;">
        <p>&copy; 2026 VPPTinh.com - Tổng hợp giá tốt nhất từ Shopee & Lazada.</p>
    </footer>
</body>
</html>